{% extends 'base.html' %}
{% block title %}Quatoes{% endblock title %}

{% block body %}
        <div class="box">
            <div class="boxes" id="box1">
                <h3> List </h3>
                <ul class="chap">
                    <li><a href="#" class="active">Images</a></li>
                </ul>
            </div>
            <div class="boxes" id="box2">
                <img src="./static/image/unique/Unique (1).jpg" alt="" class="imge">
                <img src="./static/image/unique/Unique (7).jpg" alt="" class="imge">
                <img src="./static/image/unique/Unique (8).jpg" alt="" class="imge">
                <img src="./static/image/unique/Unique (9).jpg" alt="" class="imge">
                <img src="./static/image/unique/Unique (10).jpg" alt="" class="imge">
            </div>
        </div>
{% endblock body %}
